body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    nav {
      background-color: #17a2b8;
      color: #fff;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav div {
      display: flex;
      align-items: center;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 15px;
      font-size: 18px;
    }
