<header>
  <nav>
    <h2 style="color: rgb(189, 12, 104);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      <i style="color: azure;" class="fas fa-dragon"></i> Alucard <i style="color: azure;" class="fas fa-dragon"></i>
    </h2>
  </nav>
  <nav>
    <div>
      <a routerLink="/home"><i class="fas fa-home"> </i> Home</a>
      <a routerLink="/projects"><i class="fas fa-code"> </i> Project</a>
      <a routerLink="/work"><i class="fas fa-briefcase"> </i> Work</a>
      <a routerLink="/contact"><i class="fas fa-envelope"> </i> Contact</a>
    </div>
  </nav>
</header>

<body>
  <router-outlet></router-outlet>
</body>