header {
      font-family: Arial, sans-serif;
      padding-bottom: 5px;
      text-align: center;
      
    }
    header a{
      text-decoration: none;
      color: tomato;
    } 

    nav {
      background-color: #16a3ca;
      color: #fff;
      padding: 4px;
      align-items: center;
    }

    nav div {
      text-align: center;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      font-size: 18px;
    }
